*,
*::before,
*::after {
     box-sizing: border-box;
}
* {
     margin: 0;
     padding: 0;
}

html,
body {
     width: 100%;
     height: auto;
     overflow-x: hidden;
}
body {
     line-height: 1.5;
     font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}
input,
button,
textarea,
select {
     font: inherit;
     outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}
/* ____________________Main Color_________________ */

:root {
     --loan-clr-500: #006f6f;
     --loan-clr-text: #00354f;
     --loan-clr-100: #4f777d8d;
     --loan-clr-05: rgb(240, 240, 240);
}
/* ___________________GET GOOÔ___________________ */
#loan-main {
     padding: 50px 0;
     width: 100%;
     height: auto;
     overflow: hidden;
     height: auto;
     gap: 30px;
     flex-direction: column;
}
.flex_center {
     display: flex;
     justify-content: center;
     align-items: center;
}
.loan-information {
     display: none;
     gap: 150px;
     margin: 0 auto;
     transition: 0.35s ease;
}
.loan-total-title {
     font-size: 15px;
}
.loan-total-pay,
.loan-detail {
     width: 50%;
     flex-direction: column;
     gap: 10px;
     color: var(--loan-clr-text);
}
.loan-detail > div {
     display: flex;
     width: 340px;
     justify-content: space-between;
     align-items: center;
}
.loan-pay {
     font-size: 40px;
     font-weight: bold;
     background-color: rgb(240, 240, 240);
     padding: 5px 0px;
     text-align: center;
     min-width: 350px;
     border-radius: 5px;
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.362);
}
.loan-detail--item {
     font-weight: bold;
}
.loan-container-input {
     flex-wrap: wrap;
     gap: 25px;
     column-gap: 20px;
}
.loan-item {
     display: flex;
     flex-direction: column;
     gap: 12px 0;
     padding: 0 100px;
     min-width: 400px;
}
input:focus {
     outline: 1px solid var(--loan-clr-500);
}
.loan-percent {
     border: 1px solid var(--loan-clr-500);
     border-radius: 3px;
     height: 32px;
     width: 300px;
}
#value {
     opacity: 0;
}
.loan-percent-item {
     color: var(--loan-clr-text);
     background-color: var(--loan-clr-05);
     width: 80px;
     font-size: 14px;
     height: 35px;
     text-align: center;
     border-radius: 0px 3px 3px 0;
     border: 1px solid var(--loan-clr-100);
     border-left: none;
     line-height: 35px;
}
.loan-title {
     color: var(--loan-clr-text);
     font-weight: bold;
}
.loan-cover {
     display: flex;
}
.loan-number {
     position: relative;
     padding: 0 15px;
     border-radius: 3px 0px 0px 3px;
     width: 300px;
     height: 35px;
     color: var(--loan-clr-text);
     outline: none;
     border: 1px solid var(--loan-clr-100);
     font-size: 15px;
     transition: 0.3s ease;
}
.loan-price {
     border-radius: 3px !important;
     width: 380px;
}

.progress-loan {
     width: 380px;
     -webkit-appearance: none;
     appearance: none;
     height: 5px;
     background: var(--loan-clr-100);
     outline: none;
     opacity: 0.75;
     -webkit-transition: 0.2s;
     transition: opacity 0.2s;
     border-radius: 100rem;
}
.progress-loan::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: var(--loan-clr-500);
     cursor: grab;
}
.progress-loan::-webkit-slider-thumb:active {
     cursor: grabbing;
}
.loan-btn {
     cursor: pointer;
     border: none;
     background: var(--loan-clr-500);
     width: 200px;
     margin: auto;
     padding: 5px 10px;
     border-radius: 5px;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     transition: 0.35s ease;
}
.loan-btn:hover {
     opacity: 0.9;
     transform: scale(1.01);
}
.loan-table {
     table-layout: fixed;
     border-collapse: collapse;
     width: 1001px;
     border-spacing: 0;
     display: none;
     margin: 0 auto;
     transition: 0.35s ease;
}
.loan-table {
     -ms-overflow-style: none;
     scrollbar-width: none;
}
.loan-table::-webkit-scrollbar {
     display: none;
}

.loan-table > thead {
     background-color: var(--loan-clr-500);
     color: #fff;
     box-shadow: inset 0px -1px 0px #eee, 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
     position: relative;
     width: 100%;
}
.loan-table > thead tr {
     display: block;
     position: relative;
}

.loan-table th,
.loan-table td {
     padding: 5px;
     font-size: 12px;
     text-align: center;
     border: 0.05px solid rgba(61, 61, 61, 0.105);
     font-weight: normal;
     min-width: 200px;
}

.loan-table tbody {
     display: block;
     overflow-y: scroll;
     overflow-x: hidden;
     max-height: 400px;
     -ms-overflow-style: none;
     scrollbar-width: none;
}
tbody::-webkit-scrollbar {
     display: none;
}
@media screen and (max-width: 767px) {
     .loan-main,
     .loan-container-input {
          gap: 12px;
     }
     .loan-number {
          width: 280px;
          font-size: 12px;
     }
     .loan-number.loan-price,
     .progress-loan {
          width: 320px;
     }
     .loan-percent-item {
          width: 40px;
          font-size: 11px;
     }
     .loan-item {
          padding: 0;
          justify-content: center;
          align-items: center;
     }
     .loan-title {
          text-align: left;
          display: block;
          width: 100%;
          padding-left: 40px;
          font-size: 11px;
     }
     #value {
          display: none;
     }
     .table-container {
          height: 700px;
          width: 100%;
          overflow: hidden;
     }
     .loan-table {
          width: 361px !important;
          margin: auto;
     }
     .loan-information {
          width: 360px;
          gap: 10px;
          text-align: center;
          flex-direction: column;
     }
     .loan-detail--item,
     .loan-total-title,
     .loan-ex,
     .loan-detail > div {
          font-size: 12px;
     }
     .loan-pay {
          min-width: 240px;
          font-size: 22px;
     }
     .loan-table th,
     .loan-table td {
          min-width: 72px;
          padding: 3px 0px;
          font-size: 8px;
          text-align: center;
          border: 0.05px solid #cccccc94;
     }
}
